<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        div.field {
            padding-bottom: 5px;
        }

        div.field label {
            display: block;
            float: left;
            width: 70px;
            height: 15px;
        }
    </style>
    <title>Add User</title>
</head>
<body>
<p>add new user</p>
<form th:method="POST" th:action="@{/new}" th:object="${user}">
    <div class="field">
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name"/><br>
    </div>
    <div class="field">
        <label for="surname">Surname:</label>
        <input type="text" th:field="*{surname}" id="surname"/><br>
    </div>
    <div class="field">
        <input type="submit" value="Create"/>
    </div>
</form>
</body>
</html>
